.TextField {
    flex: 1;
    display: flex;
}

.TextField textarea {
    border: none;
    resize: none; /* user can't resize */
    flex: 1;
    background-color: var(--color-bg-input);
    color: var(--color-font-input);
    outline: none;
}

.TextField textarea::-webkit-scrollbar {
    display: none;
}