.TextField {
    flex: auto;
    display: flex;

    background-color: var(--color-bg-input);

    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-highlight);
    margin: 1px;
}

.TextField textarea {
    border: none;
    resize: none; /* user can't resize */
    flex: 1;
    background-color: var(--color-bg-input);
    color: var(--color-font-input);
    outline: none;
}

.TextField.Highlighted {
    border-width: 2px;
    border-style: solid;
    margin: 0;
}

.TextField textarea::-webkit-scrollbar {
    display: none;
}