.AddRoom {
    display: flex;
    min-width: 400px;
    width: 400px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-height: stretch;
}

.AddRoom h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-block-end: 10px;
}

.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}