.RealCheckbox {
   position: relative;
   left: -200vh;
}

.Checkbox {
    margin-inline-end: 25px;
    height: 1.2em;
    border: 1px solid red;
    /* var(--color-border-highlight); */
}


.Square {
    color: var(--color-border-highlight);
}

.RealCheckbox:disabled + span > .Square {
    color: var(--color-disabled);
}

.RealCheckbox:focus + span > .Square {
    /* todo some styling */
    color: palevioletred;
}