.RealCheckbox {
    display: none;
}

.Checkbox {
    margin-inline-end: 25px;
    height: 1.2em;
}


.Square {
    color: var(--color-border-highlight);
}

.RealCheckbox:disabled + span > .Square {
    color: var(--color-disabled);
}