.SendOptions {
    background: darkgray;
    border: 1px solid var(--color-border-higlight);
    /* background-image: url('../../../../assets/images/send.svg'); */
    background-repeat: no-repeat;
    background-position: center;
    outline: none;

    cursor: pointer;

}