.SendOptions{
    height: 100%;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex: 0;
}

.SendOptions.Expanded {
    animation-name: expandOptions;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
}

.SendOptions.Collapsed {
    animation-name: collapseOptions;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
}

@keyframes expandOptions {
    from {
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
    to {
        width: var(--width-send-options);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes collapseOptions {
    from {
        width: var(--width-send-options);
        opacity: 1;
        visibility: visible;
    }
    to {
        visibility: hidden;
        width: 0;
        opacity: 0;
    }
}

.SendOptions.Expanded > button {
    animation: expandButtons 600ms forwards ease-out;
}

.SendOptions.Collapsed > button {
    animation: collapseButtons 600ms forwards ease-out;
}

@keyframes expandButtons {
    0% {
        width: 0;
        opacity: 0;
    }
    25% {
        width:calc( 0.25 * var(--width-send-option));
        opacity: 0;
    }
    100% {
        width: var(--width-send-option);
        opacity: 1;
    }
}

@keyframes collapseButtons {
    0% {
        width: var(--width-send-option);
        opacity: 1;
    }
    60% {
        width: calc( 0.6 * var(--width-send-option));
        opacity: 0;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}