.Message {
    border: 1px dotted dodgerblue;
}

.MessageContainer {
    width: 80%;
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
}

.Title {
    flex: 1;
    color: var(--color-font);
    border: 1px dashed lightgreen;
}

.Title .Nick {

}

.Title .Time {

}

.Content {

}

.Content.My {
    background-color: var(--color-bg-message-my);
}

.Content.Your {
    background-color: var(--color-bg-message-your);
}

.Content .Text {

}

.Sentence {

}

.Code {
    border: 1px solid yellow;
    background-color: aqua;
    color: darkslategray;
}

.WrongTypeInfo {
    font-size: 0.8em;
    font-style: italic;
}

.Content .Files {

}