.MessageAttachments {
    display: flex;
    flex-direction: column;
}

.AttachmentsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.MessageAttachments.My  {
    justify-content: flex-end;
}

.MessageAttachments.Your {
    justify-content: flex-start;
}

.DownloadAllText {
    align-self: flex-end;
    font-style: italic;
    font-size: 0.8em;
    color: var(--color-font);
}

.DownloadAllText:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-font-input);
}

.DownloadLoadingContainer {
    height: 30px;
    width: 100%;
}