.Rooms {
    background: var(--color-bg-aside);    

    padding: 5px 0;
    border: 1px solid darkorange;
    flex: initial;
    width: 22%;
    min-width: 170px;
    max-width: 250px;
}

@media only screen and (max-width: 768px)  {
    .Rooms {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
    }
}