.Rooms {
    overflow-y: auto;
    overflow-x: hidden;
}

.AddRoom {
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 30px;
    flex: 1;
    height: 100%;
}

.AddRoom:hover {
    font-size: 35px;
}