.SidePanel {
    box-sizing: border-box;
    background: var(--color-bg-aside);    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* width: unset; */
    padding-bottom: 5px;

}

.Header {
    /* width: 100%; */
    background-color: var(--color-bg-header);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.HeightKeeper {
    height: var(--height-header);
    width: 0;
}

.HeaderTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* flex: 1; */
    overflow: hidden;
}

.HeaderTextWrapper * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .Closed {
    animation: closePanel 1s forwards  1;
}

.Opened {
    animation: openPanel 1s forwards 1;
}

@keyframes closePanel {
    from { flex: 1; }
    to { flex: 0; }
}

@keyframes openPanel {
    from { flex: 0; }
    to { flex: 1; }
} */

.Closed .HeaderTextWrapper, .HeaderTextWrapper * {
    animation: opacityZero 1s forwards  1;
}

.Opened .HeaderTextWrapper, .HeaderTextWrapper * {
    animation: opacityOne 1s forwards 1;
}

.HeaderTextWrapper * {
    animation: widthZero 1s forwards  1;
}

.HeaderTextWrapper * {
    animation: width 1s forwards 1;
}

@keyframes opacityZero {
    from { 
        flex: 1;
        opacity: 1;
    }
    to { 
        opacity: 0;
        flex: 0;
    }
}

@keyframes opacityOne {
    from { 
        opacity: 0;
        flex: 0;
    }
    to { 
        flex: 1;
        opacity: 1;
    }
}

/* @media only screen and (max-width: 768px)  {
    .SidePanel {
        width: 70px;
    }

    .HeaderTextWrapper {
        display: none;
    }

    .Opened, .Closed {
        animation: unset;
    }
} */