.SidePanel {
    box-sizing: border-box;
    background: var(--color-bg-aside);    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.Header {
    background-color: var(--color-bg-header);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.HeightKeeper {
    height: var(--height-header);
    width: 0;
}

.HeaderTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}

.HeaderTextWrapper * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Closed {
    animation: opacityFlexZero 1s forwards  1;
}

.Opened {
    animation: opacityFlexOne 1s forwards 1;
}

@keyframes opacityFlexZero {
    from { 
        max-width: 110px;
        opacity: 1;
    }
    to { 
        opacity: 0;
        max-width: 0;
    }
}

@keyframes opacityFlexOne {
    from { 
        opacity: 0;
        max-width: 0;
    }
    to { 
        max-width: 110px;
        opacity: 1;
    }
}
