.SendOption {
    margin: 1px;
    border: none;
    display: block;
    background-color: inherit;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.SendOption:hover {
    cursor: pointer;
    transform: scale(2.2);
}