.SendOption {
    margin: 1px;
    border: none;
    display: block;
    background-color: inherit;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 1.2em;
    color: var(--color-font);
}

.SendOption:hover {
    cursor: pointer;
    font-size: 1.7em;
    color: var(--color-font-input);
}