.SendButton {
    /* height: 100%; */
    /* height: 55px; */
    width: 50px;
    background: var(--color-bg-input);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-highlight);
    background-image: url('../../../../assets/images/send.svg');
    background-repeat: no-repeat;
    background-position: center;
    outline: none;

    cursor: pointer;
}

.SendButton:active {
    border-width: 2px;
    border-style: solid;
}