.Spinner {
    height: 100%;
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Spinner::before {
    content: "";
    display: block;
    border: 1px solid rgb(141, 141, 141);
    height: 10px;
    width: 10px;
    background-color: var(--color-bg-message-your);
    animation-name: loading;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}