.Settings {
    background: var(--color-aside-bg);
    color: var(--color-font);
    height: 100%;
    min-width: 350px;
    border: 1px solid darkorange;
}

.Option {
    width: 90%;
    margin: 10px auto;
}