.MessageAttachment {
    
}

.SingleFileImg {
    max-width: 100%;
    max-height: var(--height-messages-view);
}

.OneOfMany {
    max-width: 70px;
    max-height: 70px;
    margin: 3px;
}

.Svg {
    display: block;
    border: 2px solid salmon;
    min-width: 40px;
}

.SingleFileImg.Svg {
    height: 70px;
    max-width: 70px;
}

.OneOfMany.Svg {
    max-height: 70vh;
    width: 100%; 
}