.Send {
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-bg-hover-aside2);
}

.Send form {
    padding: 2px;
    display: flex;
}

.SendInputsContainer {
    margin-right: 3px;

    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border-highlight);
    background-color: var(--color-bg-input);
    color: var(--color-font-input);
    outline: none;
}

.SendInputsContainerHighlight {
    border-width: 2px;
    border-style: solid;
    padding: 2px;
}