.App {
    background-color: var(--color-bg);
    color: var(--color-font);
    height: 100vh;
    width: 100vw;
    margin: auto;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;


    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SidePanelsContainer {
    display: flex;
}

.SidePanelsContainerPlaceholder {
    display: none;
}

@media (max-width: 768px) {
    /* .SidePanelsContainer {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
    }
    .SidePanelsContainerPlaceholder {
        display: block;
    } */
}