.App {
    background-color: var(--color-bg);
    color: var(--color-font);
    height: 100vh;
    width: calc(100vw - 30px);
    margin: auto;
    min-width: 490px;
    min-height: 320px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: stretch;
}