:root {
	--height-header: 50px;
	--height-file-thumb: 60px;

	--width-send-options: calc(40px * 4); /* 40px * num of send options */

	--color-bg: white;
	--color-font: #424242;
	--color-bg-header: white;
	--color-bg-aside: white;
	--color-bg-message-my: #618EC9;
	--color-bg-message-your: #5CBFA7;
	--color-font-message-title: rgb(189, 186, 186);
	--color-font-message: white;
	--color-bg-input: white;
	--color-font-input: black;
	--color-bg-hover-aside: #eee;
	--color-bg-hover-aside2: #ccc;
	--color-border-highlight: #5F99B3;
}

[data-theme="dark"] {

	--color-bg: #1e1e1e;
	--color-font: #cccccc;
	--color-bg-header: rgba(80, 80, 80, 0.6);
	--color-bg-aside: rgb(39, 39, 39);
	--color-bg-message-my: #618EC9;
	--color-bg-message-your: #5CBFA7;
	--color-font-message-title: rgb(189, 186, 186);
	--color-font-message: white;
	--color-bg-input: #444444;
	--color-font-input: #eee;

	--color-bg-hover-aside: #626262;
	--color-bg-hover-aside2: #4d4d4d;
	--color-border-highlight: #5F99B3;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 13px Helvetica, Arial;
}

html, body {
	max-width: 100%;
	max-height: 100%;
}

body {
	background-color: var(--color-bg);
}

/* scrollbar */

/* width */
/* ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
    background: white;
}

[data-theme="dark"] ::-webkit-scrollbar {
    background: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
}

[data-theme="dark"] ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px #eee;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
} */

/* end: scrollbar */