.AddCodeSnippet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.FileName {

}

.Language {

}

.Code {

}

.Button {

}

.Button.Complete {

}

.Button.Cancel {

}